<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- ① 루트 컨텍스트: DB / 서비스 / 보안 설정 로딩 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContext.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- ② DispatcherServlet: 모든 요청의 심장 (컨트롤러/뷰) -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/dispatcher-servlet.xml</param-value>
        </init-param>
        <init-param>
            <param-name>throwExceptionIfNoHandlerFound</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <!-- 웹소켓(STOMP/SockJS) 필수. 요청이 거쳐가는 서블릿·필터 중 하나라도
             빠지면 핸드셰이크가 IllegalStateException 으로 실패한다. -->
        <async-supported>true</async-supported>
        <multipart-config>
            <max-file-size>5242880</max-file-size>
            <!-- multipart 경계/폼 필드 오버헤드는 허용하되 개별 파일은 5MB로 제한 -->
            <max-request-size>6291456</max-request-size>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- JSP 기본 인코딩 -->
    <jsp-config>
        <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    
    <!-- ③ 한글 인코딩 필터 (UTF-8 강제) -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ④ Spring Security 필터 체인 -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ⑤ 에러 페이지: 4xx/5xx만 대상, 3xx는 정상 리다이렉트라 해당 없음 -->
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/error/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/error/500.jsp</location>
    </error-page>
    <!-- throwExceptionIfNoHandlerFound=true 라 매칭 안 되는 URL은 404 상태코드가 아니라
         NoHandlerFoundException 으로 던져짐, error-code 만으로는 못 잡아서 별도 매핑 필요 -->
    <error-page>
        <exception-type>org.springframework.web.servlet.NoHandlerFoundException</exception-type>
        <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>
    <!-- 그 외 예상 못한 모든 예외에 대한 안전망 -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/views/error/500.jsp</location>
    </error-page>

</web-app>
