<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soldesk.mapper.SalonMapper">

    <!-- SalonResultMap 
    <resultMap id="salonResultMap" type="com.soldesk.vo.SalonVO">
        <id column="salon_id" property="salonId" />
        <result column="owner_Id" property="ownerId" />
        <result column="salon_name" property="salonName" />
        <result column="address" property="address" />
        <result column="phone_number" property="phoneNumber" />
        <result column="description" property="description" />
        <result column="average_rating" property="averageRating" />
        <result column="image_url" property="imageUrl" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

    id로 미용실조회 
    <select id="getSalonById" parameterType="int" resultMap="salonReslutMap">
        select se.service_name, se.price, sa.salon_name, se.description, sa.address, sa.phone_number, sa.average_rating, u.user_name 
        from salons sa
        join services se on sa.salon_id = se.salon_id
        join users u on u.user_id = sa.owner_id 
        where sa.salon_id = #{salonId} and u.user_type = 'owner';
    </select>-->
</mapper>